input {
  font-size: 20px;
  font-family: monospace;
  width: 100%;
}

.divInput {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputEditavel {
  border: 2px solid green;
}

span {
  color: red;
  font-size: 0.9em;
  font-weight: bold;
  display: none;
}
