.formulario {
  text-align: left;
  margin: 20px;
}

table {
  width: 98%;
  margin: 0 auto;
}

th,
td {
  text-align: left;
}

button {
  background: none;
  text-decoration: none;
  text-align: center;
  color: white;
  background: #e74c3c;
  font-weight: bold;
  border: none;
}

tr:nth-child(even) {
  background: #ebebe4;
}

input[type='button'] {
  background: #27ae60;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 15px;
  width: 100%;
}

input[type='button']:disabled {
  background: grey;
}

#btDadosAleatorios {
  background: #2980b9;
}

#btLimpar {
  background: #e74c3c;
}

.itemSelecionado {
  background: lightskyblue !important;
}
